select.metric-select {
  font-size: 1rem;
  padding: 0.3125rem;
  margin-left: 0.3125rem;
  margin-bottom: 1rem;
}

.chart-container canvas {
  margin: 20px;
}

.chart-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  /* aspect-ratio: 16 / 9; */
  height: 650px;
}

@media all and (max-width: 1000px) {
  .chart-container {
    min-height: initial !important;
  }

  .chart-content > canvas {
    width: 100% !important;
  }

  .chart-wrapper {
    width: 100vw !important;
    overflow-x: scroll;
    background: #f9f9f9;
  }

  .chart-content {
    height: 450px;
  }
}

@media (prefers-color-scheme: dark) and (max-width: 1000px) {
  .chart-wrapper {
    background: #2b2b2b;
  }
}
