select.metric-select {
  font-size: 1rem;
  padding: 0.3125rem;
  margin-left: 0.3125rem;
}

.chart-container canvas {
  margin: 20px;
}

/* .chart-content {
  position: relative;
  width: 100%;
    height: 500px;
    aspect-ratio: 16 / 9;
} */
.chart-content {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9; /* Use aspect-ratio to control height fluidly */
}

@media all and (max-width: 1000px) {
  .chart-container {
    min-height: initial !important;
  }
  /**/
  .chart-wrapper {
    width: 100vw !important;
    overflow-x: scroll;
  }
  .chart-content {
    width: 700px;
  }
  /**/
}
