.dataType-container {
  position: absolute;
  top: 0;
  right: 0;
  background: #efef14;
  padding: 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  width: 165px;
  /* transition: all 2s linear 1s; */
}
.dataType-label {
  display: flex;
  background: #efef14;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.dataType-label p {
  margin: 0;
}

.saved-icon {
  margin-left: 3px;
}

.dataType-menu {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  /* Prevent the div from taking up space when hidden */
  position: absolute;
  top: 100%;
  z-index: -1;
  transform: scaleX(0);
}

.dataType-menu button {
  padding: 0.3125rem;
  /* margin-top: 1rem */
}

.dataType-menu.is-open {
  transform: translateY(0);
  transform: scaleX(1);
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.31);
  width: 100%;
  overflow: hidden;
}

.dataType-menu button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataType-menu button img,
.dataType-menu label img {
  position: absolute;
  right: 10px;
}

.mockData-container {
  position: absolute;
  right: 0;
  padding: 0.5rem;
  background: #efef14;
  text-align: center;
  /* top: 58px; */
  top: 0;
  width: 46px;
  height: 43px;
  box-sizing: border-box;
}

.real-data {
  background: #89f1a5;
}

.mockData-container div {
  /* visibility: hidden;
    opacity: 0; */

  position: absolute;
  transform: translateY(-50%);
  transform: translateX(0%);
  width: 160px;
  right: 0;
  background: #efef14;
  top: 0;
  padding-bottom: 8px;
  cursor: default;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}
.dataType-menu.is-open .hidden {
  visibility: visible;
  opacity: 1;
}

.dataType-menu.is-open button {
  width: 100%;
}

.mockData-container:hover div {
  visibility: visible;
  opacity: 1;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

.mockData-container .menu-icon {
  margin: 0;
}

.mockData-container:hover .menu-icon {
  display: none;
}

.dataType-menu .input-new {
  width: 100%;
  display: block;
  padding: 0.6em 0;
}

.dataType-label .mock-data-icon,
.dataType-label .real-data-icon,
.dataType-menu .real-data-icon {
  display: none;
}

@media all and (max-width: 1000px) {
  .hide-mobile {
    display: none;
  }

  .saved-icon {
    width: 25px;
    height: 25px;
    margin-left: 0;
  }
  .dataType-menu button {
    height: 50px;
  }
  .dataType-menu .input-hidden-label {
    height: 48px;
    padding: 0;
  }

  .dataType-menu img,
  .dataType-menu .mock-data-icon,
  .dataType-label .real-data-icon,
  .dataType-label .mock-data-icon {
    width: 30px;
    height: 30px;
  }

  .dataType-container {
    width: 90px;
  }

  .dataType-menu {
    width: 50px !important;
    right: 0;
  }

  .dataType-menu label:first-child:not(.no-top-padding) {
    padding-top: 10px;
  }

  .dataType-menu .real-data-icon {
    top: 10px;
  }

  .dataType-label img,
  .dataType-menu .real-data-icon,
  .dataType-label .mock-data-icon,
  .dataType-label .real-data-icon {
    display: block;
  }
}

@media (prefers-color-scheme: dark) {
  .mockData-container,
  .mockData-container div,
  .dataType-container,
  .dataType-label {
    background: #9d9d0f;
  }

  .mockData-container p {
    color: #000;
  }

  .mockData-container button {
    border: 1px solid #4d4d4d;
  }

  .real-data {
    background: #58996a;
  }

  .dataType-menu .input-new {
    border: none;
    border-radius: 0;
  }

  .dataType-menu button {
    border-radius: 0;
  }
}
