.text-button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  font-weight: normal;
}

.text-button:hover {
  color: rgb(56 150 233);
}

.smaller-text {
  font-size: 0.8em;
}

@media all and (max-width:767px) {
  h1 {
    font-size: 2.5em;
    margin-top: 3rem;
  }
}

@media (prefers-color-scheme: dark) {
  .text-button:hover {
    color: #71c5ff;
  }
}
