.workout-day {
  font-size: 1rem !important;
  font-weight: bold;
  text-decoration: underline;
}

.workout-day.isExercise {
  color: #fff;
  background: radial-gradient(circle, rgb(17 173 17 / 87%) 8%, transparent 49%);
}

.calendar-container
  .react-calendar
  .react-calendar__tile--active.workout-day.isExercise {
  color: #fff;
  background: radial-gradient(
    circle,
    rgb(25 217 148 / 87%) 8%,
    transparent 49%
  );
}

.calendar-container {
  display: flex;
  justify-content: center;
}

.calendar-container:not(.with-details) {
  justify-content: center;
}

.workout-details {
  font-size: 0.75rem;
  height: 282px;
  overflow-y: auto;
  box-shadow: 10px 10px 12px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 10px 10px 12px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 10px 10px 12px 2px rgba(0, 0, 0, 0.1);
  flex: 0 1 450px;
}

.react-calendar,
.workout-details {
  /* flex: 1 1 50%;  */
  /* flex-grow, flex-shrink, flex-basis */
}

.react-calendar {
  max-width: 422px;
}

.exercise-container {
  border-bottom: 1px solid #cfcece;
  padding: 0 5px;
}

.sets-container:not(:last-child) {
  border-bottom: 1px solid #ebebeb;
}

.notes {
  color: #8b7b7b;
}

.calendar-tooltip-wrapper {
  position: relative;
}

.calendar-tooltip {
  top: -14px;
  left: -23px;
}

.tooltip-highlighted-single {
  background-color: rgb(25 217 148);
  color: #fff;
}

.tooltip-highlighted {
  background-color: rgb(0 110 220);
  color: #fff;
}

.tooltip-bold-highlighted {
  font-weight: bold;
  text-decoration: underline;
}

.tooltip-green {
  background-color: rgb(17 173 17 / 87%);
  color: #fff;
}

.calendar-container .react-calendar .react-calendar__tile--active {
  background: radial-gradient(
    circle,
    rgb(0 110 220 / 59%) 30%,
    transparent 55%
  );
}

@media all and (max-width: 1000px) {
  .react-calendar,
  .workout-details {
    width: 100%;
    margin: 0 auto;
  }

  .workout-details {
    margin-top: 1rem;
  }

  .calendar-container {
    display: block;
  }

  .calendar-tooltip-wrapper {
    display: block;
  }

  .calendar-tooltip {
    top: -14px;
    left: -23px;
  }

  .workout-day {
    text-decoration-thickness: 2px;
  }
}

@media (prefers-color-scheme: dark) {
  .react-calendar {
    background: rgb(55 55 55 / 87%);
  }

  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #494949;
  }

  .calendar-container .react-calendar__tile--now {
    background: none;
    border: 2px solid #a9a945;
    border-radius: 50%;
  }

  .calendar-container .react-calendar .react-calendar__tile--active {
    background: none;
    border: 2px solid rgb(47 124 199);
    border-radius: 50%;
  }

  .calendar-container
    .react-calendar
    .react-calendar__tile--active.workout-day.isExercise {
    color: #fff;
    background: none;
    border: 2px solid rgb(89 241 187);
    border-radius: 50%;
  }

  .tooltip-highlighted-single {
    background-color: transparent;
    color: #000;
    border: 2px solid rgb(89 241 187);
    padding: 0 2px;
  }

  .tooltip-green {
    background-color: transparent;
    color: #000;
    border: 2px solid rgb(17 173 17);
    padding: 0 2px;
  }

  .workout-day.isExercise {
    color: #fff;
    background: none;
    border: 2px solid rgb(17 173 17);
    border-radius: 50%;
  }

  .react-calendar__tile {
    padding: 10px 5px;
  }

  .tooltip-highlighted {
    background: none;
    border: 2px solid rgb(47 124 199);
    color: #000;
    padding: 0 2px;
  }

  .workout-details {
    background-color: #313131;
  }
}
