.tooltip-container {
  position: absolute;
  top: -15px;
  left: 25px;
}

.legend-icon:hover {
  cursor: pointer;
}

.tooltip-content {
  position: absolute;
  width: 200px;
  font-size: 0.875rem;
  display: none;
  background-color: #ffffff;
  top: 42px;
  left: 24px;
  box-shadow: -1px 6px 15px -2px rgba(0, 0, 0, 0.53);
  -webkit-box-shadow: -1px 6px 15px -2px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: -1px 6px 15px -2px rgba(0, 0, 0, 0.53);
  font-size: 0.75rem;
  text-align: left;
  padding: 5px;
}

.tooltip-content.is-open {
  display: block;
}

@media (hover: hover) and (pointer: fine) {
  .legend-icon:hover + .tooltip-content {
    display: block;
  }
  .tooltip {
    pointer-events: none;
  }
}

/* Optional: fallback for touch devices */
@media (hover: none) and (pointer: coarse) {
  .tooltip-content {
    display: none; /* prevent hover menus from sticking */
  }
}

@media (pointer: coarse) {
  .tooltip {
    pointer-events: auto; /* allow click/tap */
  }
}

@media (prefers-color-scheme: dark) {
  .tooltip-content {
    background-color: rgb(207 207 207);
    color: #000;
  }
}
