select.no-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  padding: 5px;
  pointer-events: none;
}

.select-container select * {
  font-size: 1rem;
  padding: 5px;
}

@media (prefers-color-scheme: dark) and (max-width: 1000px) {
  .select-container select {
    padding: 0.3125rem;
  }
}
