#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.dataType-label {
  display: flex;
  background: #efef14;
}

.dataType-container {
  position: fixed;
  top: 0;
  right: 0;
  background: #efef14;
  padding: 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 2s linear 1s;
}

.dataType-label p {
  margin: 0;
}

.mockData-container {
  position: fixed;
  right: 0;
  padding: 0.5rem;
  background: #efef14;
  text-align: center;
  top: 58px;
}

.content {
  padding: 2em;
}

.chart-container {
  width: 700px;
  margin: 0 auto;
  height: 350px;
  width: 100%;
}

.checkmark-animated {
  animation: bounceIn 0.5s ease-in-out forwards;
}

.dataType-menu {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  /* Prevent the div from taking up space when hidden */
  position: absolute;
  top: 100%;
  z-index: -1;
  transform: scaleX(0);
}

.dataType-menu button {
  padding: 0.3125rem;
  /* margin-top: 1rem */
}

.dataType-menu.is-open {
  transform: translateY(0);
  transform: scaleX(1);
  box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.31);
}

.select-container {
}

.select-container > label {
  display: block;
}

.select-container--with-chart {
  display: block;
  width: auto;
}

.smaller-text {
  font-size: 0.8em;
}

.upload-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.chart-excercise-container {
  margin-top: 2rem;
}

.text-button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  font-weight: normal;
}

.text-button:hover {
  color: rgb(56 150 233);
}

