body {
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
  z-index: -1;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.content {
  padding: 2em;
}

/* .chart-container {
  width: 700px;
  margin: 0 auto;
  min-height: 350px;
  width: 100%;
  position: relative;
} */
.chart-container {
  margin: 0 auto;
  min-height: 350px;
  width: 100%;
  position: relative;
}

.checkmark-animated {
  animation: bounceIn 0.5s ease-in-out forwards;
}

.select-container:not(.select-container--with-chart) select {
  width: 100%;
}

.select-container > label {
  display: block;
}

.select-container--with-chart {
  display: block;
  width: auto;
}

.smaller-text {
  font-size: 0.8em;
}

.upload-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.chart-excercise-container {
  margin-top: 2rem;
}

.savedFile-data {
  list-style: none;
}

@media all and (max-width: 1000px) {
  #root {
    padding: 0;
  }

  .chart-excercise-container {
    margin-top: 3rem;
  }
}
